<h2>Ejemplo práctico de unión de tipos</h2>
<h3>Este es un objeto de tipo {{retornarTipo()}}, y su valor es {{unionPractico}} </h3>
<h3>Este es otro ejemplo, cuyo tipo es {{retornarTipo2()}} y su valor es {{unionPractico2}}</h3>
<button (click)="cambioTipo()">Pulsa para cambiar su tipo</button>

<h2>Ejemplo de enumerados</h2>
<h3>El contenedor enum muestra ahora una variable de tipo: {{retortarTipoEnumerado()}} y su valor es: {{enumerado}} </h3>
<button (click)="cambioEnumerado()">Pulsa para cambiar a otro objeto de enum</button>
